<!doctype html>

<html>
<head>

	<title>CS 247 - The Plastics</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
		<div class="titles">
			<h1>CS 247</h1>
			<h2>The Plastics</h2>
		</div>

		<img src="images/trevorpels.jpg" class="img-circle" id="trevorpels">

		<div class="milestones">
			<a href="milestone1"><p>Milestone 1</p></a>
			<a href="milestone2"><p>Milestone 2</p></a>
			<a href="milestone3"><p>Milestone 3</p></a>
			<a href="milestone4"><p>Milestone 4</p></a>
			<a href="milestone5"><p>Milestone 5</p></a>
			<a href="milestone6"><p>Milestone 6</p></a>
			<a href="milestone7"><p>Milestone 7</p></a>
			<a href="milestone8"><p>Milestone 8</p></a>
		</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
