<!doctype html>

<html>
<head>

	<title>CS 247 - The Plastics</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">CS 247 - Interaction Design Studio</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="/">The Plastics</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignments <b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="milestone1">Milestone 1</a></li>
					<li><a href="milestone2">Milestone 2</a></li>
					<li><a href="milestone3">Milestone 3</a></li>
					<li><a href="milestone4">Milestone 4</a></li>
					<li><a href="milestone5">Milestone 5</a></li>
					<li><a href="milestone6">Milestone 6</a></li>
					<li><a href="milestone7">Milestone 7</a></li>
					<li><a href="milestone8">Milestone 8</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		</br>


		<div class="titles">
			<!-- <h1>CS 247 - Interaction Design Studio</h1> -->
			<h2>The Plastics</h2>
		</div>
		</br>
		</br>


		<div class="row">
		  <div class="col-md-4">
		  	<img src="images/trevorpels.jpg" class="img-circle" id="trevorpels">
		  </div>
		  <div class="col-md-4">
		  	<img src="images/alexStabile.jpg" class="img-circle" id="alexstabile">
		  </div>
		  <div class="col-md-4">
		  	<img src="images/christinakao.jpg" class="img-circle" id="christinakao">
		  </div>
		</div>
		</br>
		<div class="row">
		  <div class="col-md-4">
		  	<h3>tpels</h3>
		  </div>
		  <div class="col-md-4">
		  	<h3>astabile</h3>
		  </div>
		  <div class="col-md-4">
		  	<h3>chris18</h3>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-4">
		  	<h4>Evaluation Lead</h4>
		  </div>
		  <div class="col-md-4">
		  	<h4>Development Lead</h4>
		  </div>
		  <div class="col-md-4">
		  	<h4>Design Lead</h4>
		  </div>
		</div>
		</br>
		</br>

		<div class="milestones">
			<a href="milestone1"><h4>Milestone 1</h4></a>
			<a href="milestone2"><h4>Milestone 2</h4></a>
			<a href="milestone3"><h4>Milestone 3</h4></a>
			<a href="milestone4"><h4>Milestone 4</h4></a>
			<a href="milestone5"><h4>Milestone 5</h4></a>
			<a href="milestone6"><h4>Milestone 6</h4></a>
			<a href="milestone7"><h4>Milestone 7</h4></a>
			<a href="milestone8"><h4>Milestone 8</h4></a>
		</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
