<!DOCTYPE html>
<html>
  <head>
    <title>Milestone 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CS 247 - Interaction Design Studio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">The Plastics</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignments <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="milestone1">Milestone 1</a></li>
          <li><a href="milestone2">Milestone 2</a></li>
          <li><a href="milestone3">Milestone 3</a></li>
          <li><a href="milestone4">Milestone 4</a></li>
          <li><a href="milestone5">Milestone 5</a></li>
          <li><a href="milestone6">Milestone 6</a></li>
          <li><a href="milestone7">Milestone 7</a></li>
          <li><a href="milestone8">Milestone 8</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    </br>

    <div class="titles">
      <h1>CS 247 - Interaction Design Studio</h1>
      <h2>Milestone 5: User Study</h2>
    </div>
    </br>

    <div class="titles"><h3><b>Introduction</b></h3></div>
    </br>
      <div class="milestone-content">
        We will conduct a user study analyzing the effectiveness and accessibility of our long-distance brainstorming <a href="milestone4">system prototype</a>. In particular, we will focus on a few key areas. 
        </br>
        </br>
        First, users’ desire to keep a record of discussion as it progresses. We have three main questions here. Is there a compelling need for a record of discussion? If so, is this need most acute during the brainstorming process or at a later point? And finally, what is the optimal medium to fulfill this need: topic-sorted video of the discussion, user-created text annotations, or some alternative?
        </br>
        </br>
        <div class="hypothesis">
          <i>Hypothesis 1: Users desire a discussion record, primarily for later review. As such, video (low friction, more useful after the brainstorm than during) is the optimal medium.</i>
        </div>
        </br>
        </br>
        Second, we will assess users’ needs to categorize or group ideas in some way. This was expressed in passing by several users during our previous WoZ prototype, so we would like to explore it further. We have two questions here. Does this need exist? What organizational structure makes the most intuitive sense: grouping existing ideas into categories, creating sub-ideas for existing ideas, or some other option?
        </br>
        </br>
        <div class="hypothesis">
          <i>Hypothesis 2: Users desire a categorization system. Specifically, they would like to group existing ideas into categories during the discussion phase.</i>
        </div>
        </br>
        </br>
        <i>Third, we will assess untrained users’ ability to grasp the purpose of each phase with minimal instruction.</i>
        </br>
        </br>
        <div class="hypothesis">
          <i>Hypothesis 3: Otherwise untrained users will have a robust conceptual model of each phase after a brief explanation of its purpose.</i>
        </div>
        </br>
        </br>
        <i>Finally, since this is a fairly early-stage study, we will be paying close attention to any usability issues which arise. We will also solicit general feedback and analyze this for trends.</i>
      </div>
      </br>

      <div class="titles"><h3><b>Methods</b></h3></div>
      </br>

      <div class="milestone-content">
        We will recruit five to eight groups of three users from the pool of fellow Stanford students. We will focus on ensuring that a significant portion (>0.3) of this sample is untrained in the design-focused brainstorming technique we are using, while an additional significant portion (>0.3) have at least some experience with it. We will also recruit from a variety of majors. This should be feasible through sessions conducted in several different dormitories.
        </br>
        </br>
        Each participant in a given group will be placed in a separate room, with the app pre-loaded on a computer and an experimenter there to observe them.  They will be given a brainstorming task: “How would you redesign Tresidder Union?” The experimenter will very briefly explain the brainstorming process by reading a standardized explanation of the three phases (brainstorming, discussion, and voting). Then users will be left alone to use the app, given only rough guidelines as to the length of each phase.
        </br>
        </br>
        We will record all of the generated ideas and take observational notes throughout. Afterwards, we will conduct interviews with each subject. The goal here will be threefold: get general feedback about the app, appraise their subjective need/desire for certain additional features, and gain an understanding of their conceptual model of the application and process. To successfully rate their need for additional features, we will both ask whether they would use each addition and ask them to rank the additions altogether. This should give us a better idea than a simple yes or no. To understand their cognitive model of the process, we will simply ask them to explain and then probe for details.
        </br></br>
      </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
