<!DOCTYPE html>
<html>
  <head>
    <title>Milestone 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="titles">
      <h1>CS 247 - Interaction Design Studio</h1>
      <h2>Milestone 1: Team Formation and Ideating</h2>
    </div>
    </br>

    <div class="milestone1-content">
      <p><b>Ideating</b></p>
      <p>Collaborators who need to ideate, brainstorm, or problem-solve are faced with a number of hurdles. Ideating over distance, or when an ideal physical space isn’t available, is a difficult process. Technology could be far better suited to addressing this issue by creating a virtual space more friendly to the “creative juices”, perhaps by helping people organize long lists of ideas, draw connections, or break through roadblocks. These abilities could take on a whole new dimension when applied to “long-term ideation”, when collaborators working on ongoing projects need a steady stream of fresh ideas. Tools that help achieve this goal would be useful in any creative or problem-solving project, whether conducted at a distance or locally.</P>

      <p><b>Mentoring</b></p>
      <p>Because social circles typically contain only people in similar stages of life, young people today have relatively limited contact with older and more experienced individuals. Those who manage to find this in formal or informal mentorships benefit greatly from their inherited wisdom. But the current method of establishing these relationships relies on haphazard coincidences in the workplace or research lab. Technology could not only make these mentorships easier to initiate, but could also facilitate ongoing communication and advising. Such an application could serve both those young people in need of guidance and older people who are looking to expand their professional networks or simply pass on what they’ve learned.</p>

      <p><b>Partying</b></p>
      <p>Today’s partygoers already use a variety of apps and technologies to coordinate, commemorate, and celebrate their nights: Find My Friends to meet up, SMS to deliberate on new activities and destinations, Grooveshark to create a collective atmosphere, Snapchat to take questionable pictures for review the next morning, and Instagram to post performative selfies. This fragmentation reflects the lack of a coherent technological resource to augment this common social experience. Target users will be 18-30 year olds who regularly attend parties or go out to clubs. The primary context would be during a night out and the morning after, not while trying to find something to do (there are plenty of attempted universal event aggregators).</p>
    </div>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
